<%= content_tag :h1, 'Contact / Email Us' %>
<div id="email" class="span-9 append-1">
  <%= form_for(@message, :url => contact_form_path, :method => :post, :html => { :multipart => true }) do |f| %>
    <%= message_flashes %>

    <div class="span-2">
      <%= f.label :to %>
    </div><div class="span-6 last">
      <%= f.collection_select :to_id, User.all, :id, :full_name %>
    </div>
  
    <div class="span-2">
      <%= f.label :from %>
    </div><div class="span-6 last mb">
      <%= f.text_field(:from, :class => 'text italic', :placeholder => 'Name*') %>
      <%= f.text_field(:email, :class => 'text italic', :placeholder => 'Email*') %>
      <%= f.text_field(:organization, :class => 'text italic', :placeholder => 'Business, Organization or Municipality*') %>
    </div>

    <div class="span-2">
      <%= f.label :subject %>
    </div><div class="span-6 last">
      <%= f.text_field(:subject, :class => 'text', :value => 'Website Inquiry') %>
    </div>

    <div class="span-2">
      <%= f.label :body %>
    </div><div class="span-6 last">
      <%= f.text_area(:body, :class => 'text') %>
    </div>

    <div class="prepend-2 span-6 last">
      <span class="req">Required*</span>
      
      <%= f.submit 'Send', :class => :button %>
      <%= link_to 'Cancel', :class => :button %>
    </div>

  <% end %>
</div>
<div id="sidebar" class="span-5 last">
  
  <div class="locations block">
    <%= content_tag :h2, 'Locations' %>
    <% current_page.locations.each do |location| %>
      <%= content_tag :p do %>
        <%= location.title %><br />
        <%= sanitize location.body.to_html.html_safe, :tags => ['a', 'br'] %>
      <% end %>
    <% end %>
  </div>

  <div class="block">
    <%= link_to 'View General Contact Information', contact_path %>
  </div>
  
</div>