<%= form_for(current_event, :html => { :multipart => true }) do |f| %>

<fieldset>
	<legend>Properties</legend>

  <p><%= f.check_box(:active) %><%= f.label :active %></p>
  
  <p><%= f.label :event_date, 'Event Year' %><br /><%= f.date_select(:event_date, :prompt => true, :start_year => 1980, :discard_day => true, :discard_month => true) %></p>

  <p><%= f.label :event_type %><br />
     <%= f.select :event_type, Event.options_for_select %></p>

</fieldset>

<fieldset>
	<legend>Content</legend>

  <p><%= f.label :body %><br />
  <%= f.text_area(:body, :class => 'textile') %></p>

  <% unless f.object.new_record? %>
    <%= f.hidden_field(:asset_id, :value => current_event.asset_id, :class => next_asset_drop_class) %>
    <p><%= f.label :asset_id, 'Background Image' %></p>
    <%= asset_drop(current_event, :asset) %>
  <% end %>

</fieldset>

<button type="submit" name="continue" class="positive"><%= f.object.new_record? ? 'Create' : 'Update' %> Event</button>
<%= link_to 'Cancel', events_path, :class => 'button' %>

<% end %>
