<div id="left" class="column span-16 append-1">
	<div class="index_header clearfix">
		<div class="column span-11">
			<% title('Events') %>
			<%= content_tag :h2, 'Select a Event' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :event, new_event_path %>
		</div>
	</div>
	<% current_events.each do |group| %>
		<%= content_tag :h2, group[0].strftime('%Y') %>
		<ul class="index_list sortable clear">
			<%= render :partial => 'admin/events/event', :collection => group[1] %>
		</ul>
	<% end %>
	<%= render 'admin/legend' %>
</div>
<div id="right" class="column span-7 last"></div>