<% unless current_feature.new_record? %>
	<%= f.hidden_field(:asset_id, :value => current_feature.asset_id, :class => next_asset_drop_class) %>
	<p><%= f.label :asset_id %></p>
	<%= asset_drop(current_feature, :asset) %>
<% end %>
	 
<p><%= f.label :title %><br />
	 <%= f.text_field(:title, :class => 'text') %></p>
 
<p><%= f.label :body, 'Location' %><br />
	 <%= f.text_field(:body, :class => 'text') %></p>

<p><%= f.label :project %><br />
	<%= f.grouped_collection_select :project_id, Market.all, :projects, :title, :id, :title, :include_blank => true %></p>

<script>AA['assets'] = true;</script>
