<p><%= f.label :title %><br />
<%= f.text_field(:title, :class => 'text') %></p>

<% unless current_feature.new_record? %>
	<%= f.hidden_field(:asset_id, :value => current_feature.asset_id, :class => next_asset_drop_class) %>
	<p><%= f.label :asset_id, 'Video Thumbnail' %></p>
	<%= asset_drop(current_feature, :asset) %>

	<p><%= f.label :body %><br />
	<%= f.text_area(:body, :class => 'textile') %></p>

	<p><%= f.label :subtitle, 'Youtube Video ID' %><br />
	<%= f.text_field(:subtitle, :class => 'text') %></p>
<% end %>

<script>AA['assets'] = true;</script>