<div id="left" class="column span-16 append-1">
	<%= content_tag :h2, title("Editing Update: #{current_update.title}"), :class => 'object_title' %>
	<%= form_for(current_update, :html => { :multipart => true }) do |f| %>
		<%= render :partial => f, :locals => { :f => f } %>
		<button type="submit" name="continue" class="positive">Save Changes</button>
		<%= link_to 'Cancel', updates_path, :class => 'button' %>
	<% end %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_update %>
</div>

<script>AA['assets']=true;</script>