<div id="archive" class="span-15 last">

  <%= content_tag :h2, 'News / Archive', :class => 'section-title' %>
  <% archived_posts.each do |group| %>
    <div class="group clearfix">
    <%= content_tag :h3, group[0].strftime('%B %Y'), :class => 'span-10' %>
    <%= content_tag :h3, pluralize(group[1].size, 'Post'), :class => 'span-5 last rj' %>
    <% unless group[1].empty? %>
      <% group[1].each_with_index do |post, idx| %>
        <div class="post span-3<%= ' last' if idx % 5 == 4 %>">
          <%= image_asset post, :dimensions => '126x66#', :class => :frame, :link => public_post_path(post.permalink) unless post.asset.nil? %>
          <%= content_tag :h2, link_to(post.title, public_post_path(post.permalink)) %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

</div>

