<div id="latest-posts" class="span-8 append-2">

  <%= content_tag :h2, 'News', :class => 'section-title' %>

  <% latest_posts.each_with_index do |post, idx| %>
    <div class="post span-4<%= ' last' if idx % 2 == 1 %>">
      <%= link_to image_asset(post, :dimensions => '219x137#', :class => :frame, :style => "border-color: #{post.asset.color}"), public_post_path(post.permalink) unless post.asset.nil? %>
      <%= content_tag :h2, link_to(post.title, public_post_path(post.permalink)) %>
      <% if post.teaser.blank? %>
        <%= truncate(sanitize(post.body.to_html.html_safe, :tags => [:a]), :length => 150).html_safe %>
      <% else %>
        <%= post.teaser.to_html.html_safe %>
      <% end %>
    </div>
  <% end %>
  <hr /><%= link_to 'View News Archive', public_news_archive_path, :class => 'view-all' %><hr />

</div>
<div id="sidebar" class="span-5 last">
  
	<%= render :partial => 'public/news/updates' unless latest_updates.empty? %>
  <%= render :partial => 'public/links', :object => current_page.links unless current_page.links.empty? %>
  
</div>