<div id="post" class="span-9 append-1">

  <%= content_tag :h2, 'News', :class => 'section-title' %>
  <%= image_asset current_post, :dimensions => '544x>', :class => :frame, :style => "border-color: #{current_post.asset.color}" unless current_post.asset.nil? %>
  <%= content_tag :h1, current_post.title %>
  <%= content_tag :h3, current_post.created_at.strftime('%B %d, %Y'), :class => :date %>
  <%= current_post.body.to_html.html_safe %>

</div>
<div id="sidebar" class="span-5 last">

  <%= render :partial => 'public/news/videos' %>
  <%= render :partial => 'public/news/recent' %>
  <%= content_tag :div, link_to('View All News', public_news_path), :class => 'block' %>
  
</div>