<%# ---
name: Careers
description: This is the base page template for careers
fields: 
  asset: image
  sidebar_header: string
  sidebar_content: text
help: {}
features: {}
--- %>


<% if current_page.parent %>
  <%= content_tag :h2, "#{current_page.parent.try(:nav_name)} / #{current_page.nav_name}", :class => 'section-title' %>
<% else %>
  <%= content_tag :h2, current_page.nav_name, :class => 'section-title' %>
<% end %>

<div id="page" class="career span-9 default">

  <% if asset = current_page.get_block(:asset) %>
    <%= image_asset asset, :object => asset.asset, :dimensions => '544x>', :class => :frame %>
  <% end %>

  <%= content_tag :h1, current_page.title, :class => 'page-title' %>
  <%= content_tag :h3, current_page.subtitle, :class => :subtitle unless current_page.subtitle.blank? %>
  <div class="body">
    <%= current_page.body.to_html.html_safe %>
  </div>

</div>
<%= render 'public/careers/sidebar' %>
