<%# ---
name: Default
description: This is the base page template
fields: 
 asset: image
help: {}
features:
  - video
  - link
--- %>

<% asset = current_page.get_block(:asset) %>
<div id="page" class="span-9 append-1 default">

	<% if current_page.parent %>
		<%= content_tag :h2, "#{current_page.parent.try(:nav_name)} / #{current_page.nav_name}", :class => 'section-title' %>
	<% else %>
		<%= content_tag :h2, current_page.nav_name, :class => 'section-title' %>
	<% end %>

	<%= image_asset asset, :object => asset.asset, :dimensions => '544x>', :class => :frame unless asset.nil? %>
	<%= content_tag :h1, current_page.title, :class => 'page-title' %>
  <%= content_tag :h3, current_page.subtitle, :class => :subtitle unless current_page.subtitle.blank? %>
	<div class="body">
		<%= current_page.body.to_html.html_safe %>
	</div>

</div>
<div id="sidebar" class="span-5 last default">

	<% unless current_page.videos.empty? %>
	<div class="block videos">
	  <%= content_tag :h2, 'Videos' %>
		<%= render :partial => 'public/video', :collection => current_page.videos %>
	</div>
	<% end %>
	<%= render :partial => 'public/links', :object => current_page.links unless current_page.links.empty? %>

</div>