<%= content_tag :h2, title("Editing Project: #{current_project.title}"), :class => 'object_title' %>

<div id="left" class="column span-16 append-1">
	<%= render 'form' %>
</div>

<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_project %>
	<div id="record-info" class="clearfix">

	  <%= content_tag :h3, 'Features' %>
		<ul class="feature_list">
		<% Project.feature_types.each do |feature_type| %>
			<li><%= content_tag :strong, feature_type[0] %> <small><%= link_to 'Add New', new_project_feature_path(current_project, :feature_type => feature_type[0].downcase) %></small>
				<ul class="sortable association_list" rel="/admin/features/update_sort_order">
					<%= render current_project.features.of_type(feature_type[1]) %>
				</ul>
			</li>
		<% end %>
		</ul>

		<%= content_tag :h3, 'Similar Projects' %>
		<%= render 'admin/projects/attach' %>

	</div>
</div>

<script>AA['assets']=true;</script>
