<%= content_tag :h2, title("Editing Project: #{current_project.title}"), :class => 'object_title' %>

<div id="left" class="column span-16 append-1">
	<%= render 'form' %>
</div>

<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_project %>
	<div id="record-info" class="clearfix">
	  <%= content_tag :h3, 'Features' %>
		<ul class="feature_list">
		<% Project.feature_types.each do |feature_type| %>
			<li><%= content_tag :strong, feature_type[0] %> <small><%= link_to 'Add New', new_project_feature_path(current_project, :feature_type => feature_type[0].downcase) %></small>
				<ul class="sortable association_list" rel="/admin/features/update_sort_order">
					<%= render current_project.features.of_type(feature_type[1]) %>
				</ul>
			</li>
		<% end %>
		</ul>

		<%= content_tag :h3, 'Similar Projects' %>
		<% model_name = controller.controller_name.singularize %> 
		<%= autocomplete_field_tag model_name, '', eval("autocomplete_#{model_name}_title_#{model_name.pluralize}_path"), :class => 'text span-7 xhr', 'data-id-element' => "##{model_name}_id", 'data-association' => model_name, 'data-controller' => model_name.pluralize %>
		<%= hidden_field(model_name.to_sym, :id) %>

		<script>
		$(document).ready(function(){
			$('input#<%= model_name %>').bind('railsAutocomplete.select', function(e){
				var id = $('input#<%= model_name %>_id').val(); 
				console.log($(this).val())
			}); 
		});
		</script>
	</div>


</div>

<script>AA['assets']=true;</script>
