<div id="left" class="column span-16 append-1">
	<div class="index_header clearfix">
		<div class="column span-11">
			<% title('Projects') %>
			<%= content_tag :h2, 'Select a Project' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :project, new_project_path %>
		</div>
	</div>
	<ul class="index_list sortable clear">
		<%= render :partial => 'admin/projects/project', :collection => current_projects %>
	</ul>
	<%= will_paginate current_projects %>
	<%= render 'admin/legend' %>
</div>
<div id="right" class="column span-7 last">

	<%= content_tag :h2, 'Filter by Market' %>
	<%= select_tag "markets", options_from_collection_for_select(Market.all, :permalink, :title, params[:market_filter]), :include_blank => true %></p>
	<%= render 'admin/search' %>

</div>