<section id="alpha"<%= current_market.background %> class="clearfix">
	<div class="container">
		<div class="span-9 append-1 intro">
			<%= image_asset current_market, :object => current_market.logo, :dimensions => '324x>', :class => 'market-logo' unless current_market.logo.blank? %>
			<%= current_market.body.to_html.html_safe %>
		</div>
		<div class="span-5 last">
		<% unless current_market.videos.empty? %>
			<%= content_tag :h3, 'Video' %>
			<div id="videos-controls"></div>  
			<div id="videos">
				<%= render :partial => 'public/markets/video', :collection => current_market.videos %>
			</div>
		<% end %>
		</div>
	</div>
</section>
