<% unless current_market.featured_projects.empty? %>
<h2>Case Studies</h2>
<div id="case-studies-controls"></div>
<div id="case-studies" class="span-15 last">
	<div id="case-study-slides" class="panels" style="width: <%= current_market.featured_projects.count*340 %>px;">
	<% current_market.featured_projects.each do |project| %>
		<div class="case-study span-5">
			<% if project.thumbnail.nil? %>
				<%= link_to image_tag('pages/project/project-placeholder.jpg', :class => [ :frame, :rollover ], :size => '284x179'), portfolio_project_path(current_market.permalink, project.permalink) %>
			<% else %>
				<%= image_asset project, :object => project.thumbnail, :dimensions => '284x179#', :class => [ :frame, :rollover ], :style => "border-color: #{project.thumbnail.color}", :link => portfolio_project_path(current_market.permalink, project.permalink) %>
			<% end %>
			<%= content_tag :p, project.categories.collect(&:title).join(', '), :class => "#{current_market.permalink} categories" %>
			<%= content_tag :h3, link_to(project.title, '#') %>
			<%= project.teaser.to_html.html_safe %>
		</div>
	<% end %>
	</div>
	<hr />
</div>
<% end %>

<%= render 'projects' unless current_market.projects.empty? %>
