<div id="left" class="column span-16 append-1">
	<div class="index_header clearfix">
		<div class="column span-11">
			<% title('Organizations') %>
			<%= content_tag :h2, 'Select a Organization' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :organization, new_organization_path %>
		</div>
	</div>
	<ul class="index_list sortable clear">
		<%= render :partial => 'admin/organizations/organization', :collection => current_organizations %>
	</ul>
	<%= will_paginate current_organizations %>
	<%= render 'admin/legend' %>
</div>
<div id="right" class="column span-7 last"></div>