<div class="span-8">
  <%= image_asset current_project.images.first, :dimensions => '544x>', :class => 'frame project', :style => "border-color: #{current_project.images.first.asset.hex}" if !current_project.images.empty? && current_project.images.size == 1 %>
	<%= content_tag :h3, current_project.subtitle, :class => current_market.permalink %>
	<%= content_tag :h1, current_project.title %>
	<%= content_tag :h3, current_project.location %>
	<%= content_tag :div, current_project.body.to_html.html_safe, :class => 'body' %>
</div>
<div id="sidebar" class="prepend-1 span-6 last">
  <div class="offset">
  	<%= render :partial => 'public/projects/categories' unless current_project.categories.live.empty? %>
  	<%= render :partial => 'public/projects/team' unless current_project.team.live.empty? %>
  	<%= render :partial => 'public/projects/awards' unless current_project.awards.live.empty? %>
  	<%= render :partial => 'public/links', :object => current_project.links unless current_project.links.live.empty? %>
  </div>
</div>
<% unless current_project.similar_projects.empty? %>
<div id="similar" class="span-15 last">
  <hr />
  <%= content_tag :h2, 'Similar Projects' %>
  <% current_project.similar_projects[0..4].each do |project| %>
  	<div class="project span-3<%= ' last' if current_project.similar_projects[0..4].last == project %>">
  	<% if project.thumbnail.nil? %>
  		<%= link_to image_tag('/assets/pages/project/project-placeholder.jpg', :class => 'frame', :size => '154x96'), portfolio_project_path(project.markets.first.permalink, project.permalink), 'data-title' => project.title, 'data-dimensions' => '154x96' %>
  	<% else %>
  		<%= link_to image_asset(project, :object => project.thumbnail, :dimensions => '154x96', :class => 'frame', :style => "border-color: #{project.thumbnail.hex};"), portfolio_project_path(project.markets.first.permalink, project.permalink), 'data-title' => project.title, 'data-dimensions' => '154x96' %>
  	<% end %>
    </div>
  <% end %>
  <hr />
  <%= link_to "View All #{current_market.nav_name} Projects", portfolio_path(current_market.permalink), :class => "view-all #{current_market.permalink}" %>
  <hr />
</div>
<% end %>