<div class="span-8">

	<%= content_tag :h3, current_project.subtitle, :class => current_market.permalink %>
	<%= content_tag :h1, current_project.title %>
	<%= content_tag :h3, current_project.location %>
	<%= content_tag :div, current_project.body.to_html.html_safe, :class => 'body' %>

</div>
<div id="sidebar" class="prepend-2 span-5 last">

	<%= render :partial => 'public/projects/categories' unless current_project.categories.empty? %>
	<%= render :partial => 'public/projects/users' unless current_project.users.empty? %>
	<%= render :partial => 'public/projects/awards' unless current_project.awards.empty? %>
	<%= render :partial => 'public/projects/links' unless current_project.links.empty? %>

</div>