<%= form_for(current_category, :html => { :multipart => true }) do |f| %>

<fieldset>
<% unless f.object.new_record? %>
	<p><%= f.check_box(:active) %><%= f.label :active %></p>
<% end %>

	<p><%= f.label :title %><br />
	<%= f.text_field(:title, :class => 'text') %></p>

	<p><%= f.label :parent %><br />
	<%= f.select(:parent_id, Category.parent_select.reject { |p| p[1] == f.object.id }, :include_blank => 'None') %></p>

</fieldset>

<button type="submit" name="continue" class="positive"><%= f.object.new_record? ? 'Create' : 'Update' %> Category</button>
<%= link_to 'Cancel', categories_path, :class => 'button' %>

<% end %>
