<%= content_tag :h2, title("Editing Category: #{current_category.title}"), :class => 'object_title' %>

<div id="left" class="column span-16 append-1">
	<%= render 'form' %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_category %>

  <div id="record-info">
    <%= content_tag :h3, 'Associated Projects' %>
  	<ul class="association_list">
  	<% current_category.projects.each do |p| %>
  		<%= content_tag :li, link_to(p.title, edit_project_path(p)) %>
  	<% end %>
  	</ul>
  </div>

</div>