<div id="left" class="column span-16 append-1">
	<div class="index_header clearfix">
		<div class="column span-11">
			<% title('Categories') %>
			<%= content_tag :h2, 'Select a Category' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :category, new_category_path %>
		</div>
	</div>
	<ul class="index_list sortable clear">
		<%= render :partial => 'admin/categories/category', :collection => current_categories %>
	</ul>
	<%= will_paginate current_categories %>
	<%= render 'admin/legend' %>
</div>
<div id="right" class="column span-7 last"></div>