<% unless f.object.new_record? %>
<fieldset>
	<legend>Properties</legend>

	<p><%= f.label :permalink %><br />
	<%= f.text_field(:permalink, :class => 'text') %></p>

	<p><%= f.check_box(:active) %><%= f.label :active %></p>

	<p><%= f.check_box(:admin) %> <%= f.label :admin %></p>

</fieldset>
<% end %>

<fieldset>
	<legend>User Details</legend>

  <p><%= f.label :first_name %><br />
  <%= f.text_field(:first_name, :class => 'text') %></p>

  <p><%= f.label :last_name %><br />
  <%= f.text_field(:last_name, :class => 'text') %></p>

	<p><%= f.label :email %><br />
	<%= f.text_field(:email, :class => 'text') %></p>

<% if f.object.new_record? %>

	<p><%= f.check_box(:admin) %> <%= f.label :admin %></p>
	
	<div id="password-fields"<%= f.object.errors.messages.include?(:password) ? ' class="show"'.html_safe : '' %>>
		<p><%= f.label :password %><br />
		<%= f.password_field(:password, :class => 'text') %></p>

		<p><%= f.label :password_confirmation %><br />
		<%= f.password_field(:password_confirmation, :class => 'text') %></p>
	</div>

<% else %>

	<p><%= f.label :password %><br />
	<%= f.password_field(:password, :class => 'text') %></p>

	<p><%= f.label :password_confirmation %><br />
	<%= f.password_field(:password_confirmation, :class => 'text') %></p>

	<p><%= f.label :title %><br />
	<%= f.text_field(:title, :class => 'text') %></p>

	<p><%= f.label :credentials %><br />
	<%= f.text_field(:credentials, :class => 'text') %></p>

	<p><%= f.label :education %><br />
	<%= f.text_area(:education, :class => 'textile') %></p>

	<p><%= f.label :bio %><br />
	<%= f.text_area(:bio, :class => 'textile') %></p>

	<%= f.hidden_field(:asset_id, :value => current_object.asset_id, :class => next_asset_drop_class) %>
	<p><%= f.label :asset_id, 'Image' %></p>
	<%= asset_drop(current_object, :asset) %>

<% end %>

</fieldset>

<% unless f.object.new_record? %>

<fieldset>
  <legend>Other</legend>

 	<p><%= f.label :expertise, 'Expertise Markets' %><br />
 	<%= f.collection_select :expertise_ids, Market.all, :id, :title, {}, :multiple => true, :class => 'multiple' %></p>
	
	<p><%= f.label :additional_favorites %> (<a href="javascript:void(0)" class="quiet" data-tip="For favorite projects not available on the site (see 'Search Projects' in the right sidebar of this page)&mdash; list them below, putting each project on a seperate line.">Help</a>)<br />
	<%= f.text_area(:additional_favorites) %></p></fieldset>

<% end %>
