<% unless f.object.new_record? %>
<fieldset>
	<legend>Properties</legend>

	<p><%= f.label :permalink %><br />
	<%= f.text_field(:permalink, :class => 'text') %></p>

	<p><%= f.check_box(:active) %><%= f.label :active %></p>

	<p><%= f.check_box(:admin) %> <%= f.label :admin %></p>

</fieldset>
<% end %>

<fieldset>
	<legend>User Details</legend>

  <p><%= f.label :first_name %><br />
  <%= f.text_field(:first_name, :class => 'text') %></p>

  <p><%= f.label :last_name %><br />
  <%= f.text_field(:last_name, :class => 'text') %></p>

	<p><%= f.label :email %><br />
	<%= f.text_field(:email, :class => 'text') %></p>

	<p><%= f.label :password %><br />
	<%= f.password_field(:password, :class => 'text') %></p>

	<p><%= f.label :password_confirmation %><br />
	<%= f.password_field(:password_confirmation, :class => 'text') %></p>

<% unless f.object.new_record? %>

	<p><%= f.label :credentials %><br />
	<%= f.text_field(:credentials, :class => 'text') %></p>

	<p><%= f.label :education %><br />
	<%= f.text_area(:education, :class => 'textile') %></p>

	<p><%= f.label :bio %><br />
	<%= f.text_area(:bio, :class => 'textile') %></p>

	<%= f.hidden_field(:asset_id, :value => current_object.asset_id, :class => next_asset_drop_class) %>
	<p><%= f.label :asset_id, 'Image' %></p>
	<%= asset_drop(current_object, :asset) %>

<% end %>

</fieldset>

<% unless f.object.new_record? %>

<fieldset>
  <legend>Associations</legend>

	<div class="span-5">
	  <p><%= f.label :projects %><br />
	  <%= f.collection_select :project_ids, Project.all, :id, :title, {}, :multiple => true, :class => 'multiple' %></p>
	</div>

	<div class="span-5">
  	<p><%= f.label :favorites %><br />
  	<%= f.collection_select :favorite_ids, Project.all, :id, :title, {}, :multiple => true, :class => 'multiple' %></p>
	</div>

	<div class="span-5 last">
  	<p><%= f.label :expertise, 'Expertise Markets' %><br />
  	<%= f.collection_select :expertise_ids, Market.all, :id, :title, {}, :multiple => true, :class => 'multiple' %></p>
	</div>
	
</fieldset>

<% end %>
