<%= content_tag :h2, title("Editing User: #{current_object.full_name}"), :class => 'object_title' %>

<div id="left" class="column span-16 append-1">
	<%= form_for(current_object, :html => { :multipart => true }) do |f| %>
		<%= render :partial => f, :locals => { :f => f } %>
		<button type="submit" name="continue" class="positive">Save Changes</button>
		<%= link_to 'Cancel', users_path, :class => 'button' %>
	<% end %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_object %>
	<div id="record-info">
		<%= content_tag :h3, 'Features' %>  
		<ul class="feature_list">
		<% User.feature_types.each do |feature_type| %>
			<li><%= content_tag :strong, feature_type[0] %> <small><%= link_to 'Add New', new_user_feature_path(current_object, :feature_type => feature_type[0].downcase) %></small>
				<ul class="sortable association_list" rel="/admin/features/update_sort_order">
					<%= render current_object.features.of_type(feature_type[1]) %>
				</ul>
			</li>
		<% end %>
		</ul>

		<%= content_tag :h3, 'Favorite Projects' %>
		<%= label :favorites, 'Search Existing Projects' %>
		<%= autocomplete_field_tag 'project', '', eval("autocomplete_project_title_projects_path"), :class => 'text span-7 xhr', 'data-id-element' => "#project_id", 'data-association' => 'project', 'data-controller' => 'projects' %>
		<%= hidden_field('project'.to_sym, :id) %>
		<hr class="space" />
		<ul id="favorite-projects" class="association_list">
		<% current_object.favorites.each do |project| %>
			<%= render :partial => 'admin/projects/associated_project', :object => project, :locals => { :delete_url => remove_favorite_project_user_path(current_object, :project_id => project.id) } %>
		<% end %>
		<% current_object.other_favorites.each do |project| %>
			<%= content_tag :li, project %>
		<% end %>
		</ul>

		<script>
		$(document).ready(function(){
			$('input#project').bind('railsAutocomplete.select', function(e){
				var id = $('input#project_id').val(); 
				var post_data = { project_id: id };
				$(this).val('');
				$.post('<%= add_favorite_project_user_path(current_object) %>', post_data, function(data) {
					$('#favorite-projects').append(data);
				}, 'html');
			}); 
		});
		</script>

	</div>
</div>

<script>AA['assets']=true;</script>
