<div id="left" class="column span-11 append-1">

	<div class="index_header clearfix">
		<div class="column span-6">
			<%= content_tag :h2, 'Everybody' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :user, new_user_path %>
		</div>
	</div>
	<ul class="index_list clear sortable">
		<%= render :partial => 'admin/users/user', :collection => current_objects %>
	</ul>
	<%= will_paginate current_objects %>
	<%= render 'admin/legend' %>

</div>
<div id="right" class="column span-11 append-1 last">

	<div class="index_header clearfix">
		<div class="column span-6">
			<%= content_tag :h2, 'Admin Users' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :user, new_user_path %>
		</div>
	</div>
	<ul class="index_list clear sortable">
		<%= render :partial => 'admin/users/user', :collection => current_objects %>
	</ul>
	<%= will_paginate current_objects %>
	<%= render 'admin/legend' %>

</div>