<% current_features.each_with_index do |feature, idx| %>
  <div class="<%= feature.feature_type %> span-3<%= ' last' if idx % 5 == 4 %>">
    <% unless feature.asset.nil? %>
      <% if feature.link.blank? %>
        <%= image_asset feature, :dimensions => '154x96', :class => :frame, :style => "border-color: #{feature.asset.color}" %>
      <% elsif feature.is_video? %>
        <%= link_to image_asset(feature, :dimensions => '154x96', :class => :frame, :style => "border-color: #{feature.asset.color}"), feature.link, 'data-video-id' => feature.video_id, :class => :medium %>
      <% else %>
        <%= image_asset feature, :dimensions => '154x96', :class => :frame, :style => "border-color: #{feature.asset.color}", :link => feature.link %>
      <% end %>
    <% end %>
    <% if feature.is_video? %>
      <%= content_tag :h3, link_to(feature.title, feature.link, 'data-video-id' => feature.video_id) %>
    <% else %>
      <%= content_tag :h3, feature.link.blank? ? feature.title : link_to(feature.title, feature.link) %>
    <% end %>
    <%= feature.body.to_html.html_safe %>
  </div>
<% end %>