<section id="alpha">
	<div class="container">

		<div class="span-6 append-4">
			<h1 class="dark"><strong>Design<br>is<br>life</strong> and we<br>have a<br>passion<br>for<br>living</h1>
		</div>

		<div class="span-5 last">
			<div class="dark">
				<%= current_page.body.to_html.html_safe %>
			</div>
			<div class="dark">
				<p>View the collaboration:</p>
				<ul>
				<% Market.live.each do |market| %>
					<%= content_tag :li, link_to(market.title, portfolio_path(market.permalink)) %>
				<% end %>
				</ul>
			</div>
			<div class="dark clearfix">
				<%= link_to image_tag('/assets/elements/urban-design.jpg', :class => 'left frame'), '#' %>
				<p class="valign"><a href="#">See the new face of urban design <span>(0:43)</span></a></p>
			</div>
		</div>

	</div>
</section>
<div class="caption dark">
	<div class="container"><p>Government Square <span>Cincinnati, Ohio</span></p></div>
</div>
<section id="beta">
	<div id="features" class="container">

		<h2>Featured</h2>

		<div class="span-3 feature">
			<%= image_tag '/assets/pages/homepage/feature01.jpg', :class => 'frame', :size => '154x96' %>
			<%= content_tag :h3, 'MSA petitions for Opening Day' %>
			<p>The doors at MSA Architecture are closed on Opening Day. And they have been for the last 25 Opening Days.</p>
		</div>

		<div class="span-3 feature">
			<%= image_tag '/assets/pages/homepage/feature02.jpg', :class => 'frame', :size => '154x96' %>
			<%= content_tag :h3, 'MSA petitions for Opening Day' %>
			<p>The doors at MSA Architecture are closed on Opening Day. And they have been for the last 25 Opening Days.</p>
		</div>

		<div class="span-3 feature">
			<%= image_tag '/assets/pages/homepage/feature03.jpg', :class => 'frame', :size => '154x96' %>
			<%= content_tag :h3, 'MSA petitions for Opening Day' %>
			<p>The doors at MSA Architecture are closed on Opening Day. And they have been for the last 25 Opening Days.</p>
		</div>

		<div class="span-3 feature">
			<%= image_tag '/assets/pages/homepage/feature04.jpg', :class => 'frame', :size => '154x96' %>
			<%= content_tag :h3, 'MSA petitions for Opening Day' %>
			<p>The doors at MSA Architecture are closed on Opening Day. And they have been for the last 25 Opening Days.</p>
		</div>

		<div class="span-3 feature last">
			<%= image_tag '/assets/pages/homepage/feature05.jpg', :class => 'frame', :size => '154x96' %>
			<%= content_tag :h3, 'MSA petitions for Opening Day' %>
			<p>The doors at MSA Architecture are closed on Opening Day. And they have been for the last 25 Opening Days.</p>
		</div>

	</div>
</section>