<section id="alpha"<%= current_page.background %>>
	<div class="container">
		<div class="span-6 append-4">
			<%= content_tag :h1, current_page.subtitle.html_safe, :class => :dark %>
		</div>

		<div class="span-5 last">
			<div class="dark">
				<%= current_page.body.to_html.html_safe %>
			</div>
			<div class="dark">
				<p>View the collaboration:</p>
				<ul>
				<% Market.live.each do |market| %>
					<%= content_tag :li, link_to(market.title, portfolio_path(market.permalink)) %>
				<% end %>
				</ul>
			</div>
			
			<% unless current_page.videos.empty? %>
			  <% current_page.videos.each do |video| %>
          <% unless video.link.blank? %>
			    <div class="video dark clearfix<%= ' with-asset' unless video.asset.nil? %>">
				    <%= link_to image_asset(video, :dimensions => '91x59#', :class => [:left, :frame, :video]), video.link, 'data-video-id' => video.video_id, :class => 'small' unless video.asset.nil? %>
				    <%= content_tag :p, link_to(video.title, video.link, 'data-video-id' => video.video_id), :class => :valign %>
			    </div>
			    <% end %>
			  <% end %>
			<% end %>
		</div>

	</div>
</section>

<% unless current_page.background_caption.blank? %>
<div class="caption dark">
	<div class="container">
	  <%= current_page.background_caption %>
	</div>
</div>
<% end %>

<section id="beta">
<% unless current_features.empty? %>
	<div id="features" class="container">
		<h2>Featured</h2>
		<%= render 'public/features' %>
	</div>
<% end %>
</section>