<%= content_tag :h2, title("Editing Market: #{current_market.title}"), :class => 'object_title' %>

<div id="left" class="column span-16 append-1">
	<%= render 'form' %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_market %>

	<div id="record-info" class="clearfix">
    <%= content_tag :h3, 'Features' %>
		<ul class="feature_list">
		<% Market.feature_types.each do |feature_type| %>
			<li><%= feature_type[0] %> <small>(<%= link_to 'Add New', new_market_feature_path(current_market, :feature_type => feature_type[0].downcase) %>)</small>
				<ul class="sortable association_list" rel="/admin/features/update_sort_order">
					<%= render current_market.features.of_type(feature_type[1]) %>
				</ul>
			</li>
		<% end %>
		</ul>
	</div>

	<hr class="clear space" /><hr />	
	<div>
    <%= content_tag :h3, 'Case Studies' %>
		<ul id="projectships" class="association_list">
			<% current_market.projectships.each do |projectship| %>
				<li><label>
					<%= check_box_tag "featured_projectship_ids[#{projectship.id}]", '1', projectship.featured? %> 
					<%= truncate projectship.project.title %>
				</label></li>
			<% end %>
		</ul>
	</div>

</div>

<script>
AA['assets']=true;
$(document).ready(function() {
	$('#colorpicker').farbtastic('#market_color');
	$('#text_colorpicker').farbtastic('#market_text_color');
});
</script>
