<div id="left" class="column span-16 append-1">
	<%= content_tag :h2, title("Editing Market: #{current_market.title}"), :class => 'object_title' %>
	<%= render 'form' %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_market %>
	<div id="tabs">
		<ul class="clearfix">
			<li><a href="#tabs-0">Features</a></li>
			<li><a href="#tabs-1">Case Studies</a></li>
		</ul>
		<div id="tabs-0"> 
			<ul>
			<% Market.feature_types.each do |feature_type| %>
				<li><%= feature_type[0] %> <small>(<%= link_to 'Add New', new_market_feature_path(current_market, :feature_type => feature_type[0].downcase) %>)</small>
					<ul class="sortable association_list" rel="/admin/features/update_sort_order">
						<%= render current_market.features.of_type(feature_type[1]) %>
					</ul>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="tabs-1">
			<ul id="projectships" class="association_list">
				<% current_market.projectships.each do |projectship| %>
					<li><label>
						<%= check_box_tag "featured_projectship_ids[#{projectship.id}]", '1', projectship.featured? %> 
						<%= projectship.project.title %>
					</label></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<script>
AA['assets']=true;
$(document).ready(function() {
	$('#colorpicker').farbtastic('#market_color');
});
</script>
