<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie ie6 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= content_tag :title, page_title %>
  <meta name="keywords" content="<%= @meta_keywords || META[:keywords] %>" />
  <meta name="description" content="<%= @meta_description || META[:description] %>" />
  <meta name="author" content="Ample, http://helloample.com" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/94abe249-b3a4-4d0b-9e43-7d288b4a3853.css"/>
  <%= stylesheet_link_tag "public/blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "public/blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "public/blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= market_styles %>
  <script>var MSA = {};</script>
  <%= homepage_backgrounds.html_safe if is_homepage? %>
  <%= random_titles.html_safe if is_homepage? || is_team? %>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20184763-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</head>
<body<%= body_classes %>>

<section id="header" class="clearfix">
  <header class="container">
    <% if is_project? && !current_market.logo.nil? %>
      <%= link_to image_asset(current_market, :object => current_market.logo, :class => 'logo', :dimensions => 'x25>', :encode => :png), portfolio_path(current_market.permalink) %>
    <% else %>
      <%= link_to image_tag('elements/msa-architects.png', :id => 'logo', :size => '140x25'), root_path %>
    <% end %>
    <nav>
      <%= site_nav('header') %>
    </nav>
  </header>
</section>

<% if is_homepage? %>
  <%= yield %>
<% else %>
  <%= render 'public/markets/header' if is_market? && !current_market.nil? %>
  <%= render 'public/projects/header' if is_project? && !current_project.nil? %>
  <%= render 'public/users/header' if is_user? && params[:action] != 'show' %>
  <% unless is_user? && params[:action] == 'history' %>
  <section id="beta"><div class="bgx">
    <%= content_tag :div, yield, :class => 'container' %>
  </div></section>
  <% end %>
<% end %>

<section id="footer">
  <footer class="container">
    <div id="markets" class="span-13">
      <ul class="clearfix">
        <li><%= link_to image_tag('elements/msa-footer.png', :class => :logo, :alt => 'MSA Architects'), root_path %></li>
      <% Market.live.each do |market| %>
        <%= content_tag :li, link_to("#{market.title} (#{market.projectships_count})", portfolio_path(market.permalink), :class => market.permalink) %>
      <% end %>
      </ul>
      <p>&copy; 2011 MSA Architects. All rights reserved.</p>
    </div>
    <div id="social" class="span-2 last">
      <%= link_to 'Facebook', 'http://www.facebook.com/MSAarchitects', :class => 'facebook', :target => '_blank' %>
      <%= link_to 'LinkedIn', 'http://www.linkedin.com/company/msa-architects', :class => 'linkedin', :target => '_blank' %>
      <span class="st_sharethis" displayText=""><%= link_to 'ShareThis'.html_safe, '#', :class => 'sharethis' %></span>
    </div>
  </footer>
</section>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:'676a2a5c-87b8-4b75-97a1-86a62aa22ac9'});</script>

</body>
</html>
