<!doctype html> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>MsaarchCom</title>
	<meta name="author" content="Ample, http://helloample.com" />
	<%= stylesheet_link_tag "public/blueprint/screen", :media => "screen, projection" %>
	<%= stylesheet_link_tag "public/blueprint/print", :media => "print" %>
	<!--[if lt IE 8]><%= stylesheet_link_tag "public/blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= body_classes %>>

<section id="header" class="clearfix">
	<header class="container">
		<%= link_to image_tag('/assets/elements/msa-architects.png', :id => 'logo', :size => '140x25'), root_path %>
		<nav>
			<%= site_nav('header') %>
		</nav>
	</header>
</section>

<% if is_homepage? %>
	<%= yield %>
<% else %>
	<%= render 'public/markets/header' if is_market? %>
	<%= render 'public/projects/header' if is_project? %>
	<section id="beta">
		<%= content_tag :div, yield, :class => 'container' %>
	</section>
<% end %>

<section id="footer">
	<footer class="container">
		<div id="markets" class="span-13">
			<ul class="clearfix">
				<li><strong>MSA</strong></li>
			<% Market.live.each do |market| %>
				<%= content_tag :li, link_to("#{market.title} (#{market.projectships_count})", portfolio_path(market.permalink), :class => market.permalink) %>
			<% end %>
			</ul>
			<p>&copy; 2011 MSA Architects. All rights reserved.</p>
		</div>
		<div id="social" class="span-2 last">
			<%= link_to 'Facebook', '#', :class => 'facebook' %>
			<%= link_to 'LinkedIn', '#', :class => 'linkedin' %>
			<%= link_to 'ShareThis', '#', :class => 'sharethis' %>
		</div>
	</footer>
</section>

</body>
</html>
