<%= form_for(current_award, :html => { :multipart => true }) do |f| %>

<fieldset>
<% unless f.object.new_record? %>
	<p><%= f.check_box(:active) %><%= f.label :active %></p>

<% end %>

	<p><%= f.label :title, 'Award Title' %><br />
	<%= f.text_field(:title, :class => 'text') %></p>

  <p><%= f.label :project %> (<a href="javascript:void(0)" class="quiet" data-tip="Selecting a project will override the value supplied for 'Project Name' below.">Help</a>)<br />
	<%= f.grouped_collection_select :project_id, Market.includes(:projects).order(:title), :projects, :title, :id, :title, :include_blank => true %></p>

  <p><%= f.label :project_name, 'Project Name' %> (<a href="javascript:void(0)" class="quiet" data-tip="Enter a value here if project doesn't exist in the drop-down above.">Help</a>)<br />
  <%= f.text_field(:project_name, :class => 'text') %></p>

  <p><%= f.label :organization %> (<a href="javascript:void(0)" class="quiet" data-tip="Selecting a organization will override the value supplied for 'Organization Name' below. <br/><br/>The award thumbnail displayed on project pages will be sourced from the selected organization.">Help</a>)<br />
	<%= f.collection_select :organization_id, Organization.all, :id, :title, :include_blank => true %></p>

  <p><%= f.label :source, 'Organization Name' %> (<a href="javascript:void(0)" class="quiet" data-tip="Enter a value here if the organization doesn't exist in the drop-down above.">Help</a>)<br />
  <%= f.text_field(:source, :class => 'text') %></p>

	<p><%= f.label :awarded_date %><br /><%= f.date_select(:awarded_date, :prompt => true, :start_year => 1980, :discard_day => true, :discard_month => true) %></p>

<% unless f.object.new_record? %>
  <%= f.hidden_field(:asset_id, :value => current_award.asset_id, :class => next_asset_drop_class) %>
  <p><%= f.label :asset_id, 'Award Thumbnail' %></p>
  <%= asset_drop(current_award, :asset) %>
<% end %>

</fieldset>

<button type="submit" name="continue" class="positive"><%= f.object.new_record? ? 'Create' : 'Update' %> Award</button>
<%= link_to 'Cancel', awards_path, :class => 'button' %>

<% end %>
